<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>Choose new password</h2>
            <form name="form" (ngSubmit)="f.form.valid && confirmResetPassword()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
                    <label for="newPassword">New password</label>
                    <input type="password" class="form-control" name="newPassword" 
                        [(ngModel)]="model.newPassword" #newPassword="ngModel" required minlength="6" 
                        patternValidator validateEqual="confirmPassword" reverse="true"
                    />
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                        <div class="help-block" *ngIf="newPassword.errors.required">
                            Password is required.
                        </div>
                        <div class="help-block" *ngIf="newPassword.errors.minlength">
                            Password must be at least 6 characters long.
                        </div>
                        <div class="help-block" *ngIf="newPassword.errors.patternValidator">
                            Password must contain at least one uppercase and one digit.
                        </div>                        
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
                     <label for="confirmPassword">Confirm password</label>
                    <input type="password" class="form-control" name="confirmPassword" 
                        [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"  
                        required validateEqual="newPassword"                    
                    />
                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                        <div class="help-block">
                            Password mismatch.
                        </div>
                    </div> 
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>
