<nav *ngIf="username" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false"
                >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/" routerLinkActive="active" class="navbar-brand">
                Front
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/admin/items" routerLinkActive="active">
                        Items
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false"
                       >
                        Welcome, {{username}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a routerLink="/change-password" routerLinkActive="active">
                                Change password
                            </a>
                        </li>
                        <li>
                            <a routerLink="/logout" routerLinkActive="active">
                                Logout
                            </a>
                        </li>                       
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav *ngIf="!username" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false"
                >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/" routerLinkActive="active" class="navbar-brand">
                {{ 'HOME.TITLE' | translate }}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li>
                    <a>{{ 'HOME.SELECT' | translate }}</a></li>
                <li>
                    <select class="navbar-select" 
                            #langSelect 
                            (change)="translate.use(langSelect.value)">
                        <option *ngFor="let lang of translate.getLangs()" 
                            [value]="lang" 
                            [selected]="lang === translate.currentLang">{{ lang }}
                        </option>
                    </select>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<router-outlet name="header"></router-outlet>
<div *ngIf="objLoaderStatus" id="loaderWrap">
    <img src="/assets/Eclipse.gif" id="loader"> 
</div>
<div [@routerAnimations]="prepareRouteTransition(outlet)">    
    <router-outlet #outlet="outlet"></router-outlet>    
</div>
<router-outlet name="footer"></router-outlet>

