<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>Change password</h2>
            <alert></alert>
            <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
                 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !currentPassword.valid }">
                    <label for="currentPassword">Current password</label>
                    <input type="password" class="form-control" name="currentPassword" [(ngModel)]="model.currentPassword" #currentPassword="ngModel" required />
                    <div *ngIf="f.submitted && !currentPassword.valid" class="help-block">Invalid password</div>
                </div>                
                 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
                    <label for="newPassword">New password</label>
                    <input type="password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" required />
                    <div *ngIf="f.submitted && !newPassword.valid" class="help-block">Invalid new password</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
                     <label for="confirmPassword">Confirm password</label>
                    <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required />
                    <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block">Password mismatch</div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>
