<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>Change password</h2>
            <alert></alert>
            <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': (f.submitted && !currentPassword.valid) || !validation.currentPassword }">
                    <label for="currentPassword">Current password</label>
                    <input type="password" class="form-control" name="currentPassword" 
                        [(ngModel)]="model.currentPassword" #currentPassword="ngModel" required />
                    <div *ngIf="f.submitted && !currentPassword.valid" class="help-block">Invalid password</div>
                    <div *ngIf="!validation.currentPassword" class="help-block">{{ validation.currentPasswordMsg }}</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': (f.submitted && !first.valid) || !validation.first }">
                    <label for="first">New password</label>
                    <input type="password" class="form-control" name="first" 
                        [(ngModel)]="model.first" #first="ngModel" required minlength="6" 
                        patternValidator validateEqual="second" reverse="true"
                    />
                    <div *ngIf="!validation.first" class="help-block">{{ validation.firstMsg }}</div>
                    <div *ngIf="first.invalid && (first.dirty || first.touched)">
                        <div class="help-block" *ngIf="first.errors.required">
                            Password is required.
                        </div>
                        <div class="help-block" *ngIf="first.errors.minlength">
                            Password must be at least 6 characters long.
                        </div>
                        <div class="help-block" *ngIf="first.errors.patternValidator">
                            Password must contain at least one uppercase and one digit.
                        </div>                        
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !second.valid }">
                     <label for="second">Confirm password</label>
                    <input type="password" class="form-control" name="second" 
                        [(ngModel)]="model.second" #second="ngModel"  
                        required validateEqual="first"                    
                    />
                    <div *ngIf="second.invalid && (second.dirty || second.touched)">
                        <div class="help-block">
                            Password mismatch.
                        </div>
                    </div> 
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>
