<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>{{ 'form.password_change' | translate }}</h2>
            <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': (f.submitted && !currentPassword.valid) || !validation.currentPassword }">
                    <label for="currentPassword">{{ 'form.password_current' | translate }}</label>
                    <input type="password" class="form-control" name="currentPassword" 
                        [(ngModel)]="model.currentPassword" #currentPassword="ngModel" required />
                    <div *ngIf="f.submitted && !currentPassword.valid" class="help-block">{{ 'form.validation.password.invalid' | translate }}</div>
                    <div *ngIf="!validation.currentPassword" class="help-block">{{ validation.currentPasswordMsg | translate }}</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': (f.submitted && !first.valid) || !validation.first }">
                    <label for="first">{{ 'form.password_new' | translate }}</label>
                    <input type="password" class="form-control" name="first" 
                        [(ngModel)]="model.first" #first="ngModel" required minlength="6" 
                        patternValidator validateEqual="second" reverse="true"
                    />
                    <div *ngIf="!validation.first" class="help-block">{{ validation.firstMsg | translate }}</div>
                    <div *ngIf="first.invalid && (first.dirty || first.touched)">
                        <div class="help-block" *ngIf="first.errors.required">
                            {{ 'form.validation.password.required' | translate }}
                        </div>
                        <div class="help-block" *ngIf="first.errors.minlength">
                            {{ 'form.validation.password.too_short' | translate }}
                        </div>
                        <div class="help-block" *ngIf="first.errors.patternValidator">
                            {{ 'form.validation.password.regex' | translate }}
                        </div>                        
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !second.valid }">
                     <label for="second">{{ 'form.password_confirm' | translate }}</label>
                    <input type="password" class="form-control" name="second" 
                        [(ngModel)]="model.second" #second="ngModel"  
                        required validateEqual="first"                    
                    />
                    <div *ngIf="second.invalid && (second.dirty || second.touched)">
                        <div class="help-block">
                            {{ 'form.password_mismatch' | translate }}
                        </div>
                    </div> 
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">{{ 'form.password_change' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
