default:
  suites:
    default:
      contexts:
        - FeatureContext:
            doctrine: "@doctrine"
            #kernel: '@kernel'
        - RestApiContext:
            client: "@csa_guzzle.client.local_test_api"
        #- FeatureContext:
        #    doctrine: "@doctrine"
        - UserSetupContext:
            userManager: "@fos_user.user_manager"
            em: "@doctrine.orm.entity_manager"
        #- Behat\MinkExtension\Context\MinkContext
        #- behatch:context:json
        #- behatch:context:rest            
  extensions:
    Behat\Symfony2Extension:
      kernel:
        env: "test"
        debug: "true"          
        bootstrap: features/bootstrap/bootstrap.php
        class: App\Kernel
    Behat\MinkExtension:
      show_auto: true
      show_cmd: firefox %s
      base_url: "http://localhost:8000/app_test.php/"
      sessions:
        default:
          symfony2: ~
    Behatch\Extension: ~
