<mat-sidenav-container fxFlexFill *ngIf="isLoggedIn">
<!--                       over on mobile-->
    <mat-sidenav #sidenav mode="side" [(opened)]="opened"> 
        <mat-toolbar>R.A.B.</mat-toolbar>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active">
                <mat-icon matListIcon iconsmall>dashboard</mat-icon>
                <h3 matLine>Dashboard</h3>
            </a>           
        </mat-nav-list>         
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-icon class="sidebar-icon">storage</mat-icon>
                    <div class="sidebar-title-wrapper">
                        <h3 class="sidebar-title">{{ 'item.items' | translate }}</h3> 
                    </div>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/admin/items" routerLinkActive="active">
                        <h3 matLine>{{ 'item.items' | translate }}</h3>
                    </a>
                    <a mat-list-item routerLink="/admin/items/create" routerLinkActive="active">
                        <h3 matLine>{{ 'crud.add' | translate }}</h3>
                    </a>
                </mat-nav-list>                
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-icon class="sidebar-icon">create</mat-icon>
                    <div class="sidebar-title-wrapper">
                        <h3 class="sidebar-title">{{ 'post.posts' | translate }}</h3> 
                    </div>                    
                </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/admin/posts" routerLinkActive="active">
                            <h3 matLine>{{ 'post.posts' | translate }}</h3>
                        </a>
                        <a mat-list-item routerLink="/admin/posts/create" routerLinkActive="active">
                            <h3 matLine>{{ 'crud.add' | translate }}</h3>
                        </a>
                    </mat-nav-list>
            </mat-expansion-panel>           
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-icon class="sidebar-icon">people</mat-icon>
                    <div class="sidebar-title-wrapper">
                        <h3 class="sidebar-title">{{ 'user.users' | translate }}</h3> 
                    </div>                     
                </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/admin/users" routerLinkActive="active">
                            <h3 matLine>{{ 'user.users' | translate }}</h3>
                        </a>
                    </mat-nav-list>
            </mat-expansion-panel>            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-icon class="sidebar-icon">insert_drive_file</mat-icon>
                    <div class="sidebar-title-wrapper">
                        <h3 class="sidebar-title">{{ 'file.files' | translate }}</h3> 
                    </div>                      
                </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/admin/files" routerLinkActive="active">
                            <h3 matLine>{{ 'file.files' | translate }}</h3>
                        </a>
                    </mat-nav-list>
            </mat-expansion-panel>            
        </mat-accordion>        
    </mat-sidenav>
    <mat-sidenav-content>       
        <mat-toolbar>
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span fxFlex></span>
            <mat-button-toggle-group #langSelect="matButtonToggleGroup" (change)="translate.use(langSelect.value)">
                <mat-button-toggle *ngFor="let lang of translate.getLangs()" [value]="lang">
                    <img src="/assets/flag-{{ lang }}.png">
                </mat-button-toggle>
            </mat-button-toggle-group>
            {{ 'ui.hello' | translate }}, {{ username }}
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>
            </button>                
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/user/profile" routerLinkActive="active">
                    {{ 'ui.profile' | translate }}
                </button>
                <button mat-menu-item routerLink="/user/change-password" routerLinkActive="active">
                    {{ 'ui.password_change' | translate }}                       
                </button>
                <button mat-menu-item routerLink="/logout" routerLinkActive="active">
                    {{ 'ui.logout' | translate }}                       
                </button>                    
            </mat-menu> 
        </mat-toolbar>
        <main [@routerAnimations]="prepareRouteTransition(outlet)">
            <alert></alert>
            <router-outlet #outlet="outlet"></router-outlet> 
        </main>        
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container fxFlexFill *ngIf="!isLoggedIn">
    <mat-sidenav #sidenav>
        <a mat-button routerLink="/about" routerLinkActive="active">About</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
        <mat-divider></mat-divider>
        <a mat-button routerLink="/login" routerLinkActive="active">
            {{ 'ui.login' | translate }}
        </a> 
        <a mat-button routerLink="/register" routerLinkActive="active">
            {{ 'ui.register' | translate }}
        </a> 
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutGap="64px">
        <mat-toolbar>
            <div fxHide.lt-md="true" fxFlex>
                <a mat-button routerLink="/about" routerLinkActive="active">About</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
                <span fxFlex></span>                
                <a mat-button routerLink="/login" routerLinkActive="active">
                    {{ 'ui.login' | translate }}
                </a>
                <a mat-button routerLink="/register" routerLinkActive="active">
                    {{ 'ui.register' | translate }}
                </a>
                <button *ngIf="language=='en-US'" mat-button class="pl" (click)="useLanguage('pl')">.</button>
                <button *ngIf="language=='pl'" mat-button class="en" (click)="useLanguage('en-US')">.</button>                
            </div>
            <div fxHide.gt-sm="true">
                <mat-icon class="clicable" (click)="sidenav.toggle()">menu</mat-icon>
            </div>
        </mat-toolbar>
        <main [@routerAnimations]="prepareRouteTransition(outlet)">
            <alert></alert>
            <router-outlet #outlet="outlet"></router-outlet> 
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="objLoaderStatus" id="loaderWrap">
    <mat-spinner id="loader"></mat-spinner> 
</div> 