<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>Reset password</h2>
            <alert></alert>
            <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" 
                        [(ngModel)]="username" #usernameX="ngModel" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>
