<div fxLayoutAlign="center center">
    <mat-card fxFlex="60">
        <mat-card-header>
            <mat-icon mat-card-avatar>create</mat-icon>
            <mat-card-title>                
                {{ 'crud.edit' | translate }}
            </mat-card-title>           
        </mat-card-header>
        <mat-card-content>
            <form *ngIf="item" name="form" fxLayout="column" (ngSubmit)="f.form.valid && updateItem()" #f="ngForm" novalidate>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>{{ 'item.signature' | translate }}</mat-label>
                    <input matInput type="text" id="item-signature" name="item-signature" [(ngModel)]="item.signature" #signature="ngModel" required>
                    <mat-error *ngIf="!validation.signature">{{ validation.signatureMsg | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label for="item-status">{{ 'item.status' | translate }}</mat-label>
                    <input matInput type="text" id="item-status" name="item-status" [(ngModel)]="item.status" #status="ngModel" required>
                    <mat-error *ngIf="!validation.status">{{ validation.statusMsg | translate }}</mat-error>
                </mat-form-field>
                <div fxLayout="row">
                    <button mat-raised-button>{{ 'crud.edit' | translate }}</button>
                    <button mat-button type="button" (click)="goBack()">
                        {{ 'ui.back' | translate }}
                    </button>                 
                </div>
            </form>            
        </mat-card-content>
    </mat-card>
</div>