footer {
    background: #253238 none repeat scroll 0 0;
}
/*.footer-top {
    background: #3bc2b5 none repeat scroll 0 0;
    top:0;
    right:0;
    width:50%;
}*/
.footer-social {
    font-size:32px;
    padding: 28px 0 24px;
}
.footer-copyright {
    color: #bec2ce;
}
.ion-social-facebook {
    color: #4460a0;
}
.ion-social-twitter {
    color: #00aaec;
}
.ion-social-googleplus {
    color: #f93f2d;
}
.ion-social-linkedin {
    color: #007ebb;
}
.footer-newsletter {
    background: #3bc2b5 none repeat scroll 0 0;
    padding: 20px 0 20px 30px;
    position: relative;
}
.ion-ios-email-outline {
    color: #fff;
    float: left;
    font-size: 80px;
    margin: 10px 60px 0 0;
}
.footer-newsletter-title {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}
.footer-newsletter-subtitle {
    color: #fff;
    font-size: 16px;
    margin-top: -10px;
}

